.header{
    display: flex;
    justify-content: space-between;
    border-bottom-color: black;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:50px;
}
