.header{
    margin: 0%;
    display: flex;
    justify-content: space-between;

}
.logo{
    display: flex;
    width: 10px auto;
}
.hero{
    display: flex;
    justify-content: center;
}
#touch-icon{
    width:45px;
    height:45px;
    
}
.icons{
    display: flex;
    justify-content: space-between;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: 40px auto;
    padding: 25px;
    text-align: center;
}
#touch-icon {
    width: 50px auto;
    margin-bottom: 10px;
}
.descript p {
    margin: 20px auto;
    font-size: 15px;
    color: #878787;
}
.email {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.email input {
    border-color: #1c1c1c;
    padding: 12px;
    border-radius: 8px;
}
.email button {
    background:rgba(38, 151, 113, 1);
    padding: 12px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.or {
    margin: 15px 0;
    font-size: 14px;
    color: #777;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.icons img {
    width: 30px;

}
.icons {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display:flex;
    justify-content: center;
}
footer{
    width: 100%;
    height: 650px;
    background-color: black;
    margin-top: 100px;
  }
  footer .foter1 a i{
    text-decoration: none;
    color: rgb(250, 249, 249);
    font-size: 40px;
  }
  .foter1{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .foter1 a i{
    margin: 20px;
  }
  .star1{
    color: yellow;
    background-color: green;
    
  }
  .display{
    
    margin-top: 30px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .elem4{
    width: 350px;
    height: 30px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-left: 10px;
  }
  .elem4 p{
    margin-top: -4px;
  
  }
  .elem4 a{
    text-decoration: none;
    color: white;
  
  }
  .elem4 a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .elem4 i{
    color: yellow;
    background-color: green;
  }
  .elem4 span{
    font-weight: 600;
    font-size: 14px;
  }
  .foter3{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .foter3 div a{
    text-decoration: none;
    color: white;
    
  }
  ul li{
    line-height: 70px;
  }
  .foter3 div a:hover{
  text-decoration: underline;
  }
  
  .foter4{
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 20px;
  }
  .foter4 div i{
    color: white;
    font-size: 40px;
  }
  .foter4 div p{
    color: white;
    font-size: 14px;
  }
  .foter4 div span{
    color: white;
    font-size: 10px;
  }
  .foter4 div{
    margin-top: 5px;
    display: flex;
    gap: 20px;
  }
  .span_A{
    display: flex;
    flex-direction: column;
     width: 110px;
  }
  .span_B{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
  }
  .brend{
    height:80px;
    padding: 5px;
    border: solid white 1px;
    border-radius: 20px;
    display: flex;align-items: center;
    line-height: 1px;
  }
  .brend i{
    
  }
  .foter5{
    width: 100%;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
    font-size: 15px;
    margin-left: 10px;
  }
  .foter5 a{
    color: white;
    text-decoration: none;
    
  }
  .foter5 a:hover{
  text-decoration: underline;
  }
  @media (max-width: 768px){
    body {
        margin: 0;
        padding: 0;
    }
    .header{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
  }
