.header{
    display: flex;
    justify-content: space-between;

}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
header hr {
    border: none;
    height: 1px;
    background-color: #000;
    margin-top: 10px;
}
